<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/style.css"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Gabarito">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your Dental Website</title>
</head>
<body>
<div style=width:100%;>
    <div>
        <header>
            <img src="../static/img/clip-path-group.png" alt="Logo">
        </header>
    </div>
    <div>
        <nav>
            <a href="http://127.0.0.1:8000/home">Home</a>
            <a href="http://127.0.0.1:8000">My Teeth</a>
            <a href="http://127.0.0.1:8000/dentalcare">Dental Care</a>
            <a href="http://127.0.0.1:8000/about">About this AI</a>
        </nav>
    </div>

    <div class="text-container">
		<h1>EVERYTHING ABOUT DENTAL CARE</h1>
    	<p>
    </div>

</div>


</body>
</html>