<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/style.css"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Gabarito">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your Dental Website</title>
  
</head>
<body>
<div style=width:100%;>
    <div>
        <header>
            <img src="../static/img/clip-path-group.png" alt="Logo">
        </header>
    </div>
    <div>
        <nav>
            <a href="/home">Home</a>
            <a href="/classify">My Teeth</a>
            <a href="#">Dental Care</a>
            <a href="/about">About this AI</a>
        </nav>
    </div>
    
    <div class="image-container">
        <img src="../static/img/toothbrush-guy.png" alt="Toothbrush Guy">
    </div>

    <form class="grid" action="/classify" method="POST" enctype="multipart/form-data">
    <div class="content-container">
        <div class="video-feed">
            <img class="container" src="{{ url_for('video_feed') }}" />
        </div>
        <div class="analysis">
            <h1>Make a smile, so I can help!</h1>
            <button type="submit" id="analyze-button">Analyze</button>
            <button type="reset" id="redo-cam-button">Redo Image</button>
        </div>
    </div>
</form>
  

</div>


<script>
    const fileUpload = document.getElementById('file-upload');
    const analyzeButton = document.getElementById('analyze-button');

    fileUpload.addEventListener('change', () => {
        if (fileUpload.files.length > 0) {
            analyzeButton.disabled = false;
        } else {
            analyzeButton.disabled = true;
        }
    });
</script>

<script>
    // Function to send a POST request to reset the camera view
        function resetCamera() {
            var xhr = new XMLHttpRequest();
            xhr.open('POST', '/reset_camera', true);
            xhr.send();
        }
    // Periodically reload the video feed to check for changes
    setInterval(function() {
        document.getElementById('video_feed').src = "{{ url_for('video_feed') }}";
    }, 1000);

        // Add click event listener to the "Redo Camera" button
        document.getElementById('redo-cam-button').addEventListener('click', resetCamera);
    {#document.getElementById('analyze-button').addEventListener('click', );#}
</script>

</body>
</html>