
html {
    height: 100%;
    width: 100%;
}

body {
    margin: 0;
    padding: 0;
    font-family: Gabarito, sans-serif;
    display: flex;
}

header {
    background-color: rgba(0, 123, 255, 0);
    padding: 3%;
}

header img {
    height: 50px; /* Adjust the height as needed */
    margin-right: 20px; /* Add some right margin to separate the logo from navigation */
}

nav {
    background-color: rgba(59, 62, 63, 0);
    padding: 10px 0;
    text-align: center;
    margin:auto;
    width: 70%;
    border-bottom: 2px solid #640808;
}

nav a {
    text-decoration: none;
    color: #abdcd8;
    margin: 0 20px; /* Add left and right margin to space out the navigation items */
    font-weight: bold;

}

nav a:hover {
    color: #640808; /* Add a slim line underneath on hover */
}

/* New styles for the image upload area and analysis section */
.content-container {
    display: flex;
    margin: auto;
    width: 70%;
    justify-content: space-between;
    padding: 20px;
    height:45%;
    vertical-align: middle;
}

.text-container {
    width: 70%; 
    margin: 0 auto; 
    text-align: center; 
    padding: 20px; 
    box-sizing: border-box; 
    color:#232726;
}


.text-container img {
    max-width: 80%;
    display: block; 
    margin: 0 auto; 
}

.image-upload {
    flex-basis: 50%;
    padding-right: 20px;
    vertical-align: middle;
}

.image-upload input[type="file"] {
    display: none;
    vertical-align: middle;
}

.image-upload label {
    display: block;
    background-color: #f2f2f2;
    border-radius: 25px;
    padding: 20px;
    margin: auto;
    text-align: center;
    cursor: pointer;
    height:100%;
    vertical-align: middle;

}



.image-upload label:hover {
    background-color: #e0e0e0;
}

.analysis {
    flex-basis: 50%;
    padding-left: 20px;
    border-left: 0px solid #abdcd8;
}

.analysis h1 {
    margin-top: 0;
    color:  #640808;
    font-size: 70px;
}

.analysis button {
    padding: 10px 40px;
    background-color: #640808;
    color: white;
    border: none;
    cursor: not-allowed;
    font-family: Gabarito, sans-serif;
    border-radius: 25px; /* This creates completely rounded sides (half circles) */
}
.file-selected .analysis button {
    cursor: pointer;
}

.parent{
    float:left;
    width: 100%;
    height: auto;
}

.grid{
    margin-top: 5%;
    height: 90%;

}

.file-upload{
    vertical-align: middle;
}

.page-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
}

.image-container {
    position: absolute;
            bottom: 10px; 
            right: 10px; 
}

.small-text {
    font-size: 30px; 
    margin-bottom: 12px;
}

.result-container {
    display: flex; 
    align-items: flex-end; 
}

.cscore {
    font-size: 80px; 
    margin-right: 10px; 
}

.progress-container {
    width: 100%;
    height: 10px; 
    background-color: #861A31; 
    margin-top: 10px; 
}

.progress-bar {
    height: 100%;
    background-color: #B7D7DE; 
    transition: width 0.3s ease; 
}


.video-feed {
    height: 80%; /* Set your desired height */
    position: relative;
    overflow: hidden;
}

